In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 17.7 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=a8c46798ce7b4d78b4796fe0c5933509cb1a8b92abcad8ee7f948c534d78488c
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import StructType, StructField, IntegerType, FloatType, StringType

spark = SparkSession.builder.appName('Myapp').getOrCreate()

sdf = spark.createDataFrame(df)

#**Creating Data Frame**

###**Method 1: Using schema**

In [ ]:
schema = StructType([
    StructField('Name', StringType()),
    StructField('Age', IntegerType()),
    StructField('Salary', FloatType())
])

dic = [{'Name': 'Vasant',
       'Age': 25,
       'Salary': 140000.00}]
new_df = spark.createDataFrame(dic, schema)
new_df.show()

+------+---+--------+
|  Name|Age|  Salary|
+------+---+--------+
|Vasant| 25|140000.0|
+------+---+--------+

###**Method 2: Using Row**

In [ ]:
row = [Row('Vasant', 25, 14000.00),
       Row('Mohit', 45, 4500000.0)]

new_df2 = spark.createDataFrame(row)

new_df2 = new_df2.withColumnRenamed('_1','Name')
new_df2 = new_df2.withColumnRenamed('_2','Age')
new_df2 = new_df2.withColumnRenamed('_3','Salary')

new_df2.show()

+------+---+---------+
|  Name|Age|   Salary|
+------+---+---------+
|Vasant| 25|  14000.0|
| Mohit| 45|4500000.0|
+------+---+---------+

###**Method 3: Using RDD**

In [ ]:
row = [Row('Vasant', 25, 14000.00),
       Row('Mohit', 45, 4500000.0)]

rdd = spark.sparkContext.parallelize(row)
new_df3 = spark.createDataFrame(rdd)

new_df3.show()

+------+---+---------+
|    _1| _2|       _3|
+------+---+---------+
|Vasant| 25|  14000.0|
| Mohit| 45|4500000.0|
+------+---+---------+

#**Data Pre-processing**

In [ ]:
df = spark.read.csv('/content/sample_data/california_housing_test.csv',
                    inferSchema = True,
                    header = True)
print('Number of rows:', df.count())
df.show()

Number of rows: 3000
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
# Filtering data
print(df.filter("housing_median_age > 25").count())

print(df.filter(df.housing_median_age > 25).count())

1772
1772

### Data Partitioning

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number, concat

df = df.withColumn("ID", row_number().over(Window().orderBy('median_house_value'))).select('ID', *[i for i in df.columns if i!='ID'])
df.show()

+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
| ID|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  1|  -117.16|   32.71|              52.0|      845.0|         451.0|    1230.0|     375.0|       1.0918|           22500.0|
|  2|  -123.08|    40.4|              10.0|      365.0|         102.0|     140.0|      49.0|       1.7969|           37500.0|
|  3|  -119.97|   36.44|              18.0|     1128.0|         237.0|     772.0|     220.0|       2.1771|           39200.0|
|  4|  -117.65|    35.0|              36.0|     1184.0|         316.0|     672.0|     241.0|       1.9107|           39800.0|
|  5|  -122.06|   37.39|              22.0|     1236.0|         290.0|     413.0|     274.0|       3.6875|           40000.0|
|  6|  -119.14|   36.06|              32.0|     1838.0|         441.0|    1628.0|     425.0|       1.6452|           41500.0|
|  7|  -121.57|   39.48|              15.0|      202.0|          54.0|     145.0|      40.0|       0.8252|           42500.0|
|  8|  -119.46|   35.86|              22.0|     1750.0|         374.0|    1113.0|     338.0|        1.505|           42700.0|
|  9|  -119.02|   36.06|              41.0|     2279.0|         538.0|    1908.0|     511.0|       1.3952|           43100.0|
| 10|  -119.78|   36.73|              52.0|     1377.0|         319.0|    1280.0|     259.0|       1.2344|           43300.0|
| 11|  -122.14|   40.07|              31.0|     2053.0|         465.0|    1193.0|     447.0|       1.4923|           44400.0|
| 12|  -119.01|    35.4|              11.0|     8739.0|        2190.0|    4781.0|    1919.0|       1.7109|           44600.0|
| 13|   -119.8|   36.73|              45.0|      925.0|         231.0|     797.0|     228.0|       1.7011|           44800.0|
| 14|   -121.3|   37.95|               9.0|      674.0|         242.0|     575.0|     193.0|       2.2024|           45000.0|
| 15|  -119.46|   35.14|              30.0|     2943.0|         697.0|    1565.0|     584.0|       2.5313|           45800.0|
| 16|  -120.35|   37.04|              37.0|     1495.0|         292.0|     858.0|     275.0|       2.9306|           46300.0|
| 17|  -119.58|    36.1|              21.0|     1382.0|         327.0|    1469.0|     355.0|       1.3967|           46500.0|
| 18|  -122.01|    37.4|              24.0|     1297.0|         297.0|     441.0|     282.0|       3.1439|           47500.0|
| 19|  -119.42|   35.97|              21.0|      554.0|         121.0|     426.0|     122.0|       2.3516|           47500.0|
| 20|  -119.01|   35.37|              35.0|      120.0|          35.0|     477.0|      41.0|       1.9125|           47500.0|
+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
# Hash Partitioning:
# Distributes data across partitions using a hash of the 'ID' column.
# Useful for parallel processing, joins, and aggregations on the same key.

df.repartition(1000, 'ID').write.option('header', True).mode('overwrite').csv('HashPartitioning')

df.repartition(1000, 'ID').rdd.glom().collect()

#####**Output is Truncated bcz of the huge size**

In [ ]:
# Range Partitioning:
# Partitions data based on sorted ranges of 'ID'.
# Useful for range queries, ordered processing, and avoiding data skew.

df.repartitionByRange(1000, 'ID').write.option('header', True).mode('overwrite').csv('partitionByRange')

df.repartitionByRange(1000, 'ID').rdd.glom().collect()

#####**Output is Truncated bcz of the huge size**

In [ ]:
# PartitionBy (Directory-based partitioning):
# Writes data into directory structure based on column values.
# Useful for query pruning and faster reads in analytics workloads.

df.write.mode('overwrite').option('header', True).partitionBy('median_income','median_house_value').csv('partitionBy')

In [ ]:
df.write.option('header', True).mode('overwrite').csv('Original')

In [ ]:
# Hash partitioning fetch

in_df = spark.read.option('header', True).csv('/content/HashPartitioning')
in_df.count()

3000

In [ ]:
# PartiotionByRange fetch
in_df = spark.read.option('header', True).csv('/content/partitionByRange')
in_df.count()

3000

In [ ]:
# PartitionBy fetch
in_df = spark.read.option('header', True).csv('/content/partitionBy')
in_df.count()

3000

In [ ]:
in_df.show()

+----+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  ID|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+----+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|2876|  -118.06|   34.15|              37.0|     1980.0|         226.0|     697.0|     226.0|      15.0001|          500001.0|
|2881|  -117.85|   33.62|              13.0|     5192.0|         658.0|    1865.0|     662.0|      15.0001|          500001.0|
|2931|  -118.37|    34.1|              37.0|      407.0|          67.0|     100.0|      47.0|      15.0001|          500001.0|
|2935|  -118.42|   34.09|              40.0|     3552.0|         392.0|    1024.0|     370.0|      15.0001|          500001.0|
|2939|   -118.1|   34.13|              47.0|     2234.0|         276.0|     749.0|     260.0|      15.0001|          500001.0|
|2966|   -118.2|   34.19|              38.0|     2176.0|         266.0|     798.0|     243.0|      15.0001|          500001.0|
|2978|  -118.33|   34.07|              52.0|     1482.0|         171.0|     531.0|     161.0|      15.0001|          500001.0|
|2987|  -118.41|   34.09|              37.0|     2716.0|         302.0|     809.0|     291.0|      15.0001|          500001.0|
|2879|  -122.47|   37.79|              52.0|     2844.0|         623.0|    1380.0|     596.0|         4.75|          500001.0|
|2949|  -122.43|   37.76|              52.0|     2242.0|         459.0|     751.0|     464.0|         4.75|          500001.0|
|1616|  -117.93|   34.06|              35.0|     1022.0|         183.0|     628.0|     187.0|       3.9375|          187500.0|
|1618|  -117.88|    34.0|              32.0|      265.0|          51.0|     170.0|      50.0|       3.9375|          187500.0|
|1475|  -118.06|   34.03|              36.0|       21.0|           7.0|      21.0|       9.0|        2.375|          175000.0|
|1476|  -118.16|   34.09|              33.0|     1515.0|         415.0|    1345.0|     346.0|        2.375|          175000.0|
|2974|  -118.54|   34.15|              26.0|    10111.0|        1295.0|    3599.0|    1257.0|      10.2292|          500001.0|
|2938|  -118.44|   33.98|              21.0|    18132.0|        5419.0|    7431.0|    4930.0|       5.3359|          500001.0|
|2834|  -119.09|   34.24|              17.0|    10214.0|        1589.0|    3409.0|    1327.0|       5.3806|          452100.0|
|2069|  -121.73|   37.68|              17.0|    20354.0|        3493.0|    8768.0|    3293.0|       5.4496|          238900.0|
|2988|  -121.98|   37.22|              46.0|    10088.0|        1910.0|    3728.0|    1781.0|       5.2321|          500001.0|
|2902|  -118.45|   34.12|              20.0|    10722.0|        1617.0|    3731.0|    1511.0|       9.7449|          500001.0|
+----+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import *
ratio = udf(lambda total_rooms, total_bedrooms: total_rooms/total_bedrooms, FloatType())

df.withColumn('Construct_year', 2023 - df.housing_median_age).show()

+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------+
| ID|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|Construct_year|
+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------+
|  1|  -117.16|   32.71|              52.0|      845.0|         451.0|    1230.0|     375.0|       1.0918|           22500.0|        1971.0|
|  2|  -123.08|    40.4|              10.0|      365.0|         102.0|     140.0|      49.0|       1.7969|           37500.0|        2013.0|
|  3|  -119.97|   36.44|              18.0|     1128.0|         237.0|     772.0|     220.0|       2.1771|           39200.0|        2005.0|
|  4|  -117.65|    35.0|              36.0|     1184.0|         316.0|     672.0|     241.0|       1.9107|           39800.0|        1987.0|
|  5|  -122.06|   37.39|              22.0|     1236.0|         290.0|     413.0|     274.0|       3.6875|           40000.0|        2001.0|
|  6|  -119.14|   36.06|              32.0|     1838.0|         441.0|    1628.0|     425.0|       1.6452|           41500.0|        1991.0|
|  7|  -121.57|   39.48|              15.0|      202.0|          54.0|     145.0|      40.0|       0.8252|           42500.0|        2008.0|
|  8|  -119.46|   35.86|              22.0|     1750.0|         374.0|    1113.0|     338.0|        1.505|           42700.0|        2001.0|
|  9|  -119.02|   36.06|              41.0|     2279.0|         538.0|    1908.0|     511.0|       1.3952|           43100.0|        1982.0|
| 10|  -119.78|   36.73|              52.0|     1377.0|         319.0|    1280.0|     259.0|       1.2344|           43300.0|        1971.0|
| 11|  -122.14|   40.07|              31.0|     2053.0|         465.0|    1193.0|     447.0|       1.4923|           44400.0|        1992.0|
| 12|  -119.01|    35.4|              11.0|     8739.0|        2190.0|    4781.0|    1919.0|       1.7109|           44600.0|        2012.0|
| 13|   -119.8|   36.73|              45.0|      925.0|         231.0|     797.0|     228.0|       1.7011|           44800.0|        1978.0|
| 14|   -121.3|   37.95|               9.0|      674.0|         242.0|     575.0|     193.0|       2.2024|           45000.0|        2014.0|
| 15|  -119.46|   35.14|              30.0|     2943.0|         697.0|    1565.0|     584.0|       2.5313|           45800.0|        1993.0|
| 16|  -120.35|   37.04|              37.0|     1495.0|         292.0|     858.0|     275.0|       2.9306|           46300.0|        1986.0|
| 17|  -119.58|    36.1|              21.0|     1382.0|         327.0|    1469.0|     355.0|       1.3967|           46500.0|        2002.0|
| 18|  -122.01|    37.4|              24.0|     1297.0|         297.0|     441.0|     282.0|       3.1439|           47500.0|        1999.0|
| 19|  -119.42|   35.97|              21.0|      554.0|         121.0|     426.0|     122.0|       2.3516|           47500.0|        2002.0|
| 20|  -119.01|   35.37|              35.0|      120.0|          35.0|     477.0|      41.0|       1.9125|           47500.0|        1988.0|
+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------+
only showing top 20 rows

In [ ]:
from functools import reduce

updated_df = (reduce(lambda data, column: data.withColumn(column, sqrt(col(column))), df.columns, df))

updated_df.show()

+------------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|                ID|longitude|          latitude|housing_median_age|       total_rooms|    total_bedrooms|        population|        households|     median_income|median_house_value|
+------------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|               1.0|      NaN| 5.719265687131522| 7.211102550927978|29.068883707497267|21.236760581595302| 35.07135583350036|19.364916731037084| 1.044892338951722|             150.0|
|1.4142135623730951|      NaN| 6.356099432828281|3.1622776601683795|  19.1049731745428|10.099504938362077|11.832159566199232|               7.0|1.3404849868610986|193.64916731037084|
|1.7320508075688772|      NaN| 6.036555309114628| 4.242640687119285| 33.58571124749333|15.394804318340652|27.784887978899608|14.832396974191326|1.4754999152829524| 197.9898987322333|
|               2.0|      NaN| 5.916079783099616|               6.0| 34.40930106817051|17.776388834631177| 25.92296279363144|15.524174696260024| 1.382280724020993|199.49937343260004|
|  2.23606797749979|      NaN| 6.114736298484179|  4.69041575982343|35.156791662493895|17.029386365926403|20.322401432901575| 16.55294535724685| 1.920286436967152|             200.0|
| 2.449489742783178|      NaN| 6.004997918400972| 5.656854249492381|42.871902220452036|              21.0| 40.34848200366403|20.615528128088304| 1.282653499585917|203.71548787463362|
|2.6457513110645907|      NaN|6.2833112289620034| 3.872983346207417|14.212670403551895|7.3484692283495345|12.041594578792296| 6.324555320336759|0.9084051959340611|206.15528128088303|
|2.8284271247461903|      NaN| 5.988321968631947|  4.69041575982343| 41.83300132670378|19.339079605813716| 33.36165463522455|18.384776310850235|1.2267844146385296|206.63978319771826|
|               3.0|      NaN| 6.004997918400972|6.4031242374328485|47.738873049120045|23.194827009486403| 43.68065933568311| 22.60530911091463| 1.181185844818672|207.60539492026695|
|3.1622776601683795|      NaN| 6.060528029800704| 7.211102550927978|37.107950630558946| 17.86057109949175| 35.77708763999664| 16.09347693943108| 1.111035552986492|208.08652046684813|
|   3.3166247903554|      NaN| 6.330086887239385|5.5677643628300215| 45.31004303683677|21.563858652847824|34.539832078341085|21.142374511865974|1.2215973149937749|210.71307505705477|
|3.4641016151377544|      NaN|5.9497899122574065|   3.3166247903554|  93.4826187052973| 46.79743582719036| 69.14477565225012| 43.80639222761902|1.3080137613954985|211.18712081942877|
| 3.605551275463989|      NaN| 6.060528029800704| 6.708203932499369|  30.4138126514911|15.198684153570664|28.231188426986208|  15.0996688705415|1.3042622435691376|211.66010488516724|
|3.7416573867739413|      NaN| 6.160357132504576|               3.0| 25.96150997149434|15.556349186104045|23.979157616563597|13.892443989449804|1.4840485167271318|212.13203435596427|
| 3.872983346207417|      NaN| 5.927900134111573| 5.477225575051661|54.249423960075376| 26.40075756488817| 39.56008088970496|24.166091947189145|1.5910059710761615|214.00934559032697|
|               4.0|      NaN| 6.086049621881176| 6.082762530298219| 38.66522985836241| 17.08800749063506| 29.29163703175362|   16.583123951777| 1.711899529762188|215.17434791350013|
| 4.123105625617661|      NaN| 6.008327554319921|  4.58257569495584| 37.17526059088221|18.083141320025124|  38.3275357934736|18.841443681416774|1.1818206293680948|215.63858652847824|
| 4.242640687119285|      NaN| 6.115553940568262| 4.898979485566356|36.013886210738214|17.233687939614086|              21.0|16.792855623746664|1.7731046218427158|217.94494717703367|
| 4.358898943540674|      NaN|  5.99749947894954|  4.58257569495584| 23.53720459187964|              11.0|20.639767440550294|11.045361017187261|1.5334927453366056|217.94494717703367|
|  4.47213595499958|      NaN| 5.947268280479703| 5.916079783099616|10.954451150103322| 5.916079783099616|21.840329667841555|6.4031242374328485|1.3829316685939332|217.94494717703367|
+------------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [ ]:
#same operation with for loop
up_df = df.select('*')
for c in df.columns:
  up_df = up_df.withColumn(c, sqrt(col(c).cast(IntegerType())))

up_df.show()

+------------------+---------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|                ID|longitude|         latitude|housing_median_age|       total_rooms|    total_bedrooms|        population|        households|     median_income|median_house_value|
+------------------+---------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|               1.0|      NaN|5.656854249492381| 7.211102550927978|29.068883707497267|21.236760581595302| 35.07135583350036|19.364916731037084|               1.0|             150.0|
|1.4142135623730951|      NaN|6.324555320336759|3.1622776601683795|  19.1049731745428|10.099504938362077|11.832159566199232|               7.0|               1.0|193.64916731037084|
|1.7320508075688772|      NaN|              6.0| 4.242640687119285| 33.58571124749333|15.394804318340652|27.784887978899608|14.832396974191326|1.4142135623730951| 197.9898987322333|
|               2.0|      NaN|5.916079783099616|               6.0| 34.40930106817051|17.776388834631177| 25.92296279363144|15.524174696260024|               1.0|199.49937343260004|
|  2.23606797749979|      NaN|6.082762530298219|  4.69041575982343|35.156791662493895|17.029386365926403|20.322401432901575| 16.55294535724685|1.7320508075688772|             200.0|
| 2.449489742783178|      NaN|              6.0| 5.656854249492381|42.871902220452036|              21.0| 40.34848200366403|20.615528128088304|               1.0|203.71548787463362|
|2.6457513110645907|      NaN|6.244997998398398| 3.872983346207417|14.212670403551895|7.3484692283495345|12.041594578792296| 6.324555320336759|               0.0|206.15528128088303|
|2.8284271247461903|      NaN|5.916079783099616|  4.69041575982343| 41.83300132670378|19.339079605813716| 33.36165463522455|18.384776310850235|               1.0|206.63978319771826|
|               3.0|      NaN|              6.0|6.4031242374328485|47.738873049120045|23.194827009486403| 43.68065933568311| 22.60530911091463|               1.0|207.60539492026695|
|3.1622776601683795|      NaN|              6.0| 7.211102550927978|37.107950630558946| 17.86057109949175| 35.77708763999664| 16.09347693943108|               1.0|208.08652046684813|
|   3.3166247903554|      NaN|6.324555320336759|5.5677643628300215| 45.31004303683677|21.563858652847824|34.539832078341085|21.142374511865974|               1.0|210.71307505705477|
|3.4641016151377544|      NaN|5.916079783099616|   3.3166247903554|  93.4826187052973| 46.79743582719036| 69.14477565225012| 43.80639222761902|               1.0|211.18712081942877|
| 3.605551275463989|      NaN|              6.0| 6.708203932499369|  30.4138126514911|15.198684153570664|28.231188426986208|  15.0996688705415|               1.0|211.66010488516724|
|3.7416573867739413|      NaN|6.082762530298219|               3.0| 25.96150997149434|15.556349186104045|23.979157616563597|13.892443989449804|1.4142135623730951|212.13203435596427|
| 3.872983346207417|      NaN|5.916079783099616| 5.477225575051661|54.249423960075376| 26.40075756488817| 39.56008088970496|24.166091947189145|1.4142135623730951|214.00934559032697|
|               4.0|      NaN|6.082762530298219| 6.082762530298219| 38.66522985836241| 17.08800749063506| 29.29163703175362|   16.583123951777|1.4142135623730951|215.17434791350013|
| 4.123105625617661|      NaN|              6.0|  4.58257569495584| 37.17526059088221|18.083141320025124|  38.3275357934736|18.841443681416774|               1.0|215.63858652847824|
| 4.242640687119285|      NaN|6.082762530298219| 4.898979485566356|36.013886210738214|17.233687939614086|              21.0|16.792855623746664|1.7320508075688772|217.94494717703367|
| 4.358898943540674|      NaN|5.916079783099616|  4.58257569495584| 23.53720459187964|              11.0|20.639767440550294|11.045361017187261|1.4142135623730951|217.94494717703367|
|  4.47213595499958|      NaN|5.916079783099616| 5.916079783099616|10.954451150103322| 5.916079783099616|21.840329667841555|6.4031242374328485|               1.0|217.94494717703367|
+------------------+---------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [ ]:
new_df = df.select(*[sqrt(col(c)).alias(c) for c in df.columns])
new_df.show()

+------------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|                ID|longitude|          latitude|housing_median_age|       total_rooms|    total_bedrooms|        population|        households|     median_income|median_house_value|
+------------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|               1.0|      NaN| 5.719265687131522| 7.211102550927978|29.068883707497267|21.236760581595302| 35.07135583350036|19.364916731037084| 1.044892338951722|             150.0|
|1.4142135623730951|      NaN| 6.356099432828281|3.1622776601683795|  19.1049731745428|10.099504938362077|11.832159566199232|               7.0|1.3404849868610986|193.64916731037084|
|1.7320508075688772|      NaN| 6.036555309114628| 4.242640687119285| 33.58571124749333|15.394804318340652|27.784887978899608|14.832396974191326|1.4754999152829524| 197.9898987322333|
|               2.0|      NaN| 5.916079783099616|               6.0| 34.40930106817051|17.776388834631177| 25.92296279363144|15.524174696260024| 1.382280724020993|199.49937343260004|
|  2.23606797749979|      NaN| 6.114736298484179|  4.69041575982343|35.156791662493895|17.029386365926403|20.322401432901575| 16.55294535724685| 1.920286436967152|             200.0|
| 2.449489742783178|      NaN| 6.004997918400972| 5.656854249492381|42.871902220452036|              21.0| 40.34848200366403|20.615528128088304| 1.282653499585917|203.71548787463362|
|2.6457513110645907|      NaN|6.2833112289620034| 3.872983346207417|14.212670403551895|7.3484692283495345|12.041594578792296| 6.324555320336759|0.9084051959340611|206.15528128088303|
|2.8284271247461903|      NaN| 5.988321968631947|  4.69041575982343| 41.83300132670378|19.339079605813716| 33.36165463522455|18.384776310850235|1.2267844146385296|206.63978319771826|
|               3.0|      NaN| 6.004997918400972|6.4031242374328485|47.738873049120045|23.194827009486403| 43.68065933568311| 22.60530911091463| 1.181185844818672|207.60539492026695|
|3.1622776601683795|      NaN| 6.060528029800704| 7.211102550927978|37.107950630558946| 17.86057109949175| 35.77708763999664| 16.09347693943108| 1.111035552986492|208.08652046684813|
|   3.3166247903554|      NaN| 6.330086887239385|5.5677643628300215| 45.31004303683677|21.563858652847824|34.539832078341085|21.142374511865974|1.2215973149937749|210.71307505705477|
|3.4641016151377544|      NaN|5.9497899122574065|   3.3166247903554|  93.4826187052973| 46.79743582719036| 69.14477565225012| 43.80639222761902|1.3080137613954985|211.18712081942877|
| 3.605551275463989|      NaN| 6.060528029800704| 6.708203932499369|  30.4138126514911|15.198684153570664|28.231188426986208|  15.0996688705415|1.3042622435691376|211.66010488516724|
|3.7416573867739413|      NaN| 6.160357132504576|               3.0| 25.96150997149434|15.556349186104045|23.979157616563597|13.892443989449804|1.4840485167271318|212.13203435596427|
| 3.872983346207417|      NaN| 5.927900134111573| 5.477225575051661|54.249423960075376| 26.40075756488817| 39.56008088970496|24.166091947189145|1.5910059710761615|214.00934559032697|
|               4.0|      NaN| 6.086049621881176| 6.082762530298219| 38.66522985836241| 17.08800749063506| 29.29163703175362|   16.583123951777| 1.711899529762188|215.17434791350013|
| 4.123105625617661|      NaN| 6.008327554319921|  4.58257569495584| 37.17526059088221|18.083141320025124|  38.3275357934736|18.841443681416774|1.1818206293680948|215.63858652847824|
| 4.242640687119285|      NaN| 6.115553940568262| 4.898979485566356|36.013886210738214|17.233687939614086|              21.0|16.792855623746664|1.7731046218427158|217.94494717703367|
| 4.358898943540674|      NaN|  5.99749947894954|  4.58257569495584| 23.53720459187964|              11.0|20.639767440550294|11.045361017187261|1.5334927453366056|217.94494717703367|
|  4.47213595499958|      NaN| 5.947268280479703| 5.916079783099616|10.954451150103322| 5.916079783099616|21.840329667841555|6.4031242374328485|1.3829316685939332|217.94494717703367|
+------------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [ ]:
import numpy as np

lis_student = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
for i in range(2092):
  lis_student.append(lis_student[np.random.randint(0,7)])

label_df = udf(lambda ind: lis_student[ind-1], StringType())

df = df.withColumn('Random', label_df('ID'))

df.show()

+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------+
| ID|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|Random|
+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------+
|  1|  -117.16|   32.71|              52.0|      845.0|         451.0|    1230.0|     375.0|       1.0918|           22500.0|     A|
|  2|  -123.08|    40.4|              10.0|      365.0|         102.0|     140.0|      49.0|       1.7969|           37500.0|     B|
|  3|  -119.97|   36.44|              18.0|     1128.0|         237.0|     772.0|     220.0|       2.1771|           39200.0|     C|
|  4|  -117.65|    35.0|              36.0|     1184.0|         316.0|     672.0|     241.0|       1.9107|           39800.0|     D|
|  5|  -122.06|   37.39|              22.0|     1236.0|         290.0|     413.0|     274.0|       3.6875|           40000.0|     E|
|  6|  -119.14|   36.06|              32.0|     1838.0|         441.0|    1628.0|     425.0|       1.6452|           41500.0|     F|
|  7|  -121.57|   39.48|              15.0|      202.0|          54.0|     145.0|      40.0|       0.8252|           42500.0|     G|
|  8|  -119.46|   35.86|              22.0|     1750.0|         374.0|    1113.0|     338.0|        1.505|           42700.0|     H|
|  9|  -119.02|   36.06|              41.0|     2279.0|         538.0|    1908.0|     511.0|       1.3952|           43100.0|     F|
| 10|  -119.78|   36.73|              52.0|     1377.0|         319.0|    1280.0|     259.0|       1.2344|           43300.0|     B|
| 11|  -122.14|   40.07|              31.0|     2053.0|         465.0|    1193.0|     447.0|       1.4923|           44400.0|     F|
| 12|  -119.01|    35.4|              11.0|     8739.0|        2190.0|    4781.0|    1919.0|       1.7109|           44600.0|     A|
| 13|   -119.8|   36.73|              45.0|      925.0|         231.0|     797.0|     228.0|       1.7011|           44800.0|     B|
| 14|   -121.3|   37.95|               9.0|      674.0|         242.0|     575.0|     193.0|       2.2024|           45000.0|     D|
| 15|  -119.46|   35.14|              30.0|     2943.0|         697.0|    1565.0|     584.0|       2.5313|           45800.0|     C|
| 16|  -120.35|   37.04|              37.0|     1495.0|         292.0|     858.0|     275.0|       2.9306|           46300.0|     F|
| 17|  -119.58|    36.1|              21.0|     1382.0|         327.0|    1469.0|     355.0|       1.3967|           46500.0|     A|
| 18|  -122.01|    37.4|              24.0|     1297.0|         297.0|     441.0|     282.0|       3.1439|           47500.0|     E|
| 19|  -119.42|   35.97|              21.0|      554.0|         121.0|     426.0|     122.0|       2.3516|           47500.0|     C|
| 20|  -119.01|   35.37|              35.0|      120.0|          35.0|     477.0|      41.0|       1.9125|           47500.0|     G|
+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------+
only showing top 20 rows

In [ ]:
df = df.drop('ID_2')
df = df.withColumn('ID_2', monotonically_increasing_id())
df.show()